{% trans_default_domain 'FOSUserBundle' %}

<h1>Register User!</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
<div class="row">
    <div class="col-md-6 col-sm-12">
        {{ form_row(form.firstname) }}
    </div>
    <div class="col-md-6 col-sm-12">
        {{ form_row(form.lastname) }}
    </div>
</div>
    {{ form_row(form.plainPassword) }}
<div>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
